.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-img-cont {
    width: 100%;
    height: 160px;
    overflow: hidden;
}

.card-container {
    width: 250px;
    padding-bottom: 45px;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 5px 9px 1px rgba(0, 0, 0, 0.062);
    margin-bottom: 35px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.card-container:hover {
    background: #efefef41;
}

.details-container {
    padding: 0 24px;
    ul {
        list-style-type: none;
        padding: 0;
    }
    li {
        margin: 5.5px 0;
    }
    h4 {
        font-size: 22px;
        margin-bottom: 10px;
    }
}

.flex-card {
    width: 100%;
    display: flex;
    justify-content: center;
}

.dark {
    background: hsl(209, 23%, 22%);
    color: #fff;
}

.dark:hover {
    background: hsla(0, 0%, 100%, 0.123);
}

@media screen and (min-width: 750px) {
    .details-container {
        h4 {
            font-size: 18px;
            margin-top: 21px;
        }
        li {
            font-size: 13px;
            margin: 6.5px 0;
        }
    }
    .card-container {
        padding-bottom: 30px;
        margin-bottom: 70px;
    }
}