.country-information {
  padding-top: 35px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 60px;
  width: 100%;
  .back-button {
    margin-bottom: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    font-family: inherit;
    width: 98px;
    font-weight: 600;
    background: #fff;
    border: none;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.098);
    cursor: pointer;
    transition: all 0,2s ease-in-out;
    svg {
      width: 15px;
      height: 15px;
      margin-right: 6px;
    }
  }
}

.deep-details {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  h2 {
    margin-top: 33px;
  }
}

.image-container {
  height: 240px;
  width: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.country-detailed {
  max-width: 370px;
  ul {
    list-style-type: none;
    padding: 0;
    li {
      margin: 13px 0;
    }
  }
  .second-ul {
    margin-top: 40px;
  }
}

.border-section {
  margin-top: 20px;
  div {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  h4 {
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 15px;
  }
  button {
    background: #fff;
    font-family: inherit;
    font-weight: 600;
    border: 1px solid #ccc;
    width: 110px;
    height: 30px;
    font-size: 12.5px;
    margin: 3px 3px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
}

.dark-back {
  background: hsl(209, 23%, 22%) !important;
  color: #fff;
  transition: background 0.2s ease-in-out;
  svg path {
    fill: #fff
  }
}

.dark-back:hover {
  background: hsla(0, 0%, 100%, 0.123) !important;
}

.dark {
  color: #fff;
  h2 {
    color: #fff;
  }
  button {
    background: hsl(209, 23%, 22%);
    color: #fff;
    border: 1px solid hsl(209, 23%, 22%);
  }
  button:hover {
    background: hsla(0, 0%, 100%, 0.123);
  }
}

@media screen and (min-width: 900px) {
  .country-information {
    max-width: 85%;
    margin: auto;
    padding-top: 50px;
    .back-button {
        font-size: 12px;
        height: 29px;
        width: 95px;
        border-radius: 4px;
    }
    img {
        object-fit: contain;
    }
  }
  .deep-details {
    flex-wrap: nowrap;
    gap: 90px;
  }
  .image-container {
      width: auto;
      padding-right: 50px;
      max-width: 100%;
      height: auto;
      max-height: 400px;
  }
  .article-container {
      min-width: 357px;
      width: 73%;
  }
  .country-detailed {
      max-width: 100%;
      li {
          font-size: 13px;
      }
  }
  .inner-detailed {
      display: flex;
      gap: 20px;
      ul, .second-ul {
          margin: 0;
      }
  }
  .border-section {
      display: flex;
      h4 {
          font-size: 14px;
          width: 130px;
      }
      div {
          align-items: center;
          width: 80%;
      }
      button {
          font-size: 12px;
          height: 23px;
          width: 80px;
          box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.042);
      }
    }
}
