.grid-container {
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
    background:  hsl(0, 0%, 98%);
    display: grid;
    justify-content: center;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}