@import
url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

body {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
}

*,::after, ::before {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

.icon-loading {
    margin-top: 50px;
    width: 150px;
    position: absolute;
    width: 100%;
}

.icon-loading circle {
    fill: #999;
}

.dark-loader circle {
    fill: #fff;
}